*{
    font-family:'Ubuntu', sans-serif;
    padding: 6.5px;
}
.background{
    background-image: url(background.jpg);
   background-size: cover;
}
td
{
    border: 1px solid black;
}

.color1{
    background-color: rgb(255, 169, 169);
}
.color2{
    background-color:rgb(255, 210, 152);
}
.color3{
    background-color: rgb(197, 149, 115);
}
.color4{
    background-color: rgb(243, 207, 117);
}
.color5{
    background-color: rgb(255, 191, 169);
}
.color6{
    background-color: rgb(222, 146, 255);
}
.colo7{
    background-color: white;
}